.header {
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 4rem;
    background-color: $bg-color-light;
    height: calc(100vh - 8rem);
    // margin: .5rem;
    overflow: hidden;

    @include respond(472px) {
        padding: 2rem;
    }

    @include respond(430px) {
        height: calc(100vh - 4rem);
    }

    @include respond(360px) {
        height: 100vh;
    }

    &__logo {
        font-size: 3rem;
        font-family: 'Dancing Script', cursive;
        // font-family: 'Allura', cursive;
        line-height: 0;

        @include respond(472px) {
            margin-top: 3rem;
            margin-left: 3rem;
        }
        
        a {
            color: $color-tertiary;
            transition: color .3s ease-in-out;

            &:hover {
                color: $color-primary;
            }
        }
    }

    &__content {
        // display: grid;
        // grid-template-columns: 1fr min-content;

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 5rem;

        @include respond(375px) {
            margin-left: 3rem
        }

        &--text {

            .h1 {
                letter-spacing: -2px;

                svg {
                    height: 6.8rem;
                    width: 6.8rem;

                    @include respond(972px) {
                        
                    }
                }

            }
            .span {
                display: inline-block;

                span:nth-child(1) {
                    color: $green;
                    margin-right: -7.9rem;
                }
                span:nth-child(2) {
                    color: $pink;
                    margin-right: -2rem;
                }

                &:hover {
                    background-color: $color-primary;
                    transition: all .2s cubic-bezier(0.63, -0.12, 0.74, 0.05);

                    transform: scale(1.03) skewX(-10deg);
                    // text-shadow: 0.5rem 1rem 1rem rgb(0 0 0 / 20%);

                    
                }

                &:hover span:nth-child(1) {
                    // color: #FD2155;
                }

                &:hover span:nth-child(2) {
                    // color: #05FDD8;
                }

                &:hover span:nth-child(3) {
                    color: $color-tertiary;
                    transition: all .3s cubic-bezier(0.63, -0.12, 0.74, 0.05);
                }
            }

            p {
                color: $color-secondary;
                margin-top: 1rem;
            }
        }

        &--img {
            img {
                height: 36rem;
                border-radius: 50%;
                padding: 1rem;

                @include respond(972px) {
                    height: 50rem;
                }
            }
        }

        &--article {
            position: relative;
            margin-right: 5rem;
            width: 40%;
            padding-left: 3rem;
            border-left: 1rem solid $color-secondary;
            z-index: 5;
            font-size: 1.5rem;
            line-height: 1.8;

            & p:nth-child(2) {

                ~ ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    list-style: none;

                    li {
                        position: relative;
                        margin-left: 1.5rem;

                        &::before {
                            content: "▹";
                            position: absolute;
                            left: -8%;
                            top: 30%;
                            color: $pink;
                            font-size: 2.3rem;
                            line-height: 12px;
                        }
                    }
                }
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 6rem;
            margin-top: 4rem;
        }
    }
}