.btn {
    border: 1px solid $pink;
    outline: none;
    background-color: transparent;
    color: $color-primary;
    padding: 1.5rem 3rem;
    margin-top: 2rem;
    font-size: 1.5rem;

    &:hover {
        outline: none;
    }
}